  /* Global style */

body {
    background-color: #EDD1B0; 
    font-family: "Roboto", sans-serif;
    color: #1d1f20;
    text-align: center;
}

/*  Heading */

.logo {
  font-family: "Latto", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding-right: 5px;
}

#intro-text{
width: 800px;
padding: 2px;

}
.hidden{
  display: none;
}

p {
  font-size: 1.2rem;
}
.quiz-image{
  height: 600px;
  width: auto;
}
.choice {
  padding: 2px;
}

.awnser{
  font-size: 1.2rem;
  background-color: #BAA48A;
  width: 800px;
}

.btn {
  background-color: #BAA48A;
  font-size: 1.2rem;
  width: 250px;
  font-weight: bold;
}