  /* Global style */

body {
    background-color: #EDD1B0; 
    font-family: "Roboto", sans-serif;
    color: #1d1f20;
    text-align: center;
}

/*  Heading */

.logo {
    text-align: center;
    font-size: 2.5rem;
    padding-right: 5px;
}


